boto3==1.10.10
botocore==1.13.10
certifi==2019.9.11
chardet==3.0.4
Click==7.0
docutils==0.15.2
gql==0.1.0
graphql-core==2.2.1
idna==2.8
jmespath==0.9.4
promise==2.2.1
python-dateutil==2.8.0
requests==2.22.0
Rx==1.6.1
s3transfer==0.2.1
six==1.13.0
tabulate==0.8.5
urllib3==1.25.6
