[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
click = "*"
colorama = "*"
gql = "*"
requests = "*"
tabulate = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
requests_toolbelt = "*"
moto = {extras = ["all"], version = ">=5,<6.0"}
setuptools = ">=65.0,<79.0"

[requires]
python_version = "3.12"
