version: 2.1
orbs:
  codecov: codecov/codecov@3.2.4

jobs:
  test:
    docker:
      - image: circleci/python:3.11
    steps:
      - checkout
      - run:
          name: Run tests
          command: |
            sudo pip install -q -U pip
            sudo pip install -q pipenv
            sudo pipenv install --dev
            py.test --cov-report=xml --cov=newrelic_lambda_cli tests
      - codecov/upload

  code-style:
    docker:
      - image: circleci/python:3.11
    steps:
      - checkout
      - run:
          name: Check code style
          command: |
            sudo pip install -q -U pip
            sudo pip install -q -U 'black<22.10.1'
            black --check newrelic_lambda_cli tests
      - run:
          name: Check README
          command: |
            sudo pip install -q -U setuptools twine wheel
            python setup.py sdist
            twine check dist/*

  release:
    docker:
      - image: circleci/python:3.11
    steps:
      - checkout
      - run:
          name: Install release dependencies
          command: |
            sudo pip install -q -U pyOpenSSL setuptools twine wheel
      - run:
          name: Release package
          command: |
            python setup.py sdist
            twine check dist/*
            twine upload dist/*

workflows:
  version: 2
  all:
    jobs:
      - test:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - code-style:
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/
      - release:
          requires:
            - test
            - code-style
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
