name: Build Test & Coverage
on:
    pull_request:
    push:

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      matrix:
        python-version: ["3.8"]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: |
          pip install -q -U pip
          pip install -q pipenv
          pipenv install --dev
          pipenv run pytest --cov-report=xml --cov=newrelic_lambda_cli tests
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with: 
          fail_ci_if_error: true  

  code-style:
    name: Code style
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check README
        run: |
          pip install -q -U pip
          pip install -q -U setuptools twine wheel
          python setup.py sdist bdist_wheel
          twine check dist/*